
@charset "UTF-8";

:root{
    --cor0: #9EDAEC;
    --cor1: #56C6E8;
    --cor2: #439AB5;
    --cor3: #275969;
    --cor4: #4BD9EC;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    
    }

 
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(95, 106, 206);
        background-image: url('fundo-sitemain.png');
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
        background-attachment: fixed;
        margin: auto;
        padding: 10px 10px;
    }

nav{
text-align: center;
font-size: 2.5em;
line-height: 2.0em;
font-weight: bold;
text-decoration: underline;
color: aliceblue;
 }

nav > a:hover{
color: aliceblue;


}

header{
    margin: 0px 25px 0px 25px;
    padding: 10px 10px 10px 10px;
    }

header div{
    display: inline-block;
    background-color: var(--cor2);
    border:1px solid var(--cor4);
    width: 100%;
    margin: auto;
    
     }

     header h1{
        text-align: center;
        font-family: var(--fonte-padrao);
        font-size: 2.5em;
        line-height: 2.0em;
        font-weight: bold;
        text-decoration: underline;
        color: aliceblue;
     }


    header h1:hover{
     color: var(--cor4);


    }

    
header div > h2{
      text-align: center;
      font-family: var(--fonte-padrao);
      font-size: 2.5em;
      line-height: 1.8em;
      font-weight: bold;
      text-decoration: underline;
      color: aliceblue;
     }
    
header div > h2:hover{
      color: var(--cor4);
     }
    
header div > p{
    text-align: justify;
    font-family: var(--fonte-padrao);
    font-size: 2.0em;
    line-height: 1.5em;
    text-align: center;
    color: aliceblue;
     }
    
header div > p > strong{
    color: aliceblue;
    font-weight: bold;
     }
    
header div > p > strong:hover{
      color: var(--cor4);
    
     }
     header img {
        display: block;
        margin: auto;
        max-width: 100%;
    }
    


footer{
    margin: 0px 7px 0px 7px;
      padding: 30px 30px;
      width: auto;
      margin: auto;
      text-align: center;
      font-family: var(--fonte-padrao);
      font-weight: bold;
  }
  footer:hover{
  color: aliceblue;
  }